<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css"
    />
</head>

<body>
<main>
  <div class="l-container">
    <div class="login-container">
      <div class="login-wrapper">
        <div class="login-content">
          <p class="login-title">INTEREST</p>
          <div class="form-area">
            <dl class="form-block">
              <dt class="form-label">メールアドレス</dt>
              <dd>
                <div class="form-row">
                  <input class="box" type="text">
                </div>
              </dd>
            </dl>
            <dl class="form-block">
              <dt class="form-label">パスワード</dt>
              <dd>
                <div class="form-row">
                  <input class="box" type="password">
                </div>
              </dd>
            </dl>
          </div>
          <div class="btn-area">
            <button class="submit-btn" type="submit">ログイン</button>
          </div>
          <div class="btn-area">
            <button class="register-btn" type="submit">新規登録</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>